<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
        inlineMath: [['$','$'], ['\\(','\\)']],
        displayMath: [['$$','$$'], ['\\[','\\]']]
      }
    });
</script>
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script> 

<style>
  body {
      font-size: 1.8em; /* Adjust the value as needed, e.g., 1.2em for larger text */
  }
  /* Optionally, set specific elements, like headers or paragraphs
  h1 {
      font-size: 2em;
  }
  p {
      font-size: 1.2em;
  } */
</style>
